body{
	--e-global-color-primary					: #1e37b7;
	--e-global-color-secondary					: #FFFFFF;
	--e-global-color-text						: #BFC5D2;
	--e-global-color-accent						: #1e37b7;
	--e-global-color-white						: #FFFFFF;
	--e-global-color-divider					: #BFC5D2;
	--e-global-color-darkdivider				: rgba(255, 255, 255, 0.18);
	--e-global-typography-primary-font-family	: "Onest", sans-serif;
	--e-global-typography-secondary-font-family	: "Onest", sans-serif;
	--e-global-typography-text-font-family		: "Onest", sans-serif;
	--e-global-typography-accent-font-family    : "Onest", sans-serif;
}